<main>

  <div class="title">
    <p>LOVE WHERE YOU LIVE</p>
    <h1>Find your house without any difficulties</h1>
  </div>

  <div class="search">

    <div>
      <label>Location</label>
      <select>
        <option>Cairo</option>
        <option>Alexandria</option>
      </select>
    </div>

    <div>
      <label>Property Type</label>
      <select>
        <option>Residential</option>
        <option>Office</option>
      </select>
    </div>

    <div>
      <label>Rent/Sale</label>
      <select>
        <option>Sale</option>
        <option>Rent</option>
      </select>
    </div>

    <div>
      <label>Price Range</label>
      <input type="range"/>
    </div>

    <!--<div>
      <label>Rooms</label>
      <input />
    </div>-->

    <button class="p-2">Search</button>
  </div>
</main>
